.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .bar1,
  .navbar-toggle.active .bar2,
  .navbar-toggle.active .bar3 {
    background-color: #fff;
  }

  .navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
}

/* Column Menu Styles */
.column-menu {
  display: none;
  background-color: #111;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  padding: 20px;
}

.column-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.column-menu.active {
  display: block;
}